{% extends 'base.html.twig' %}

{% block title %}Lista de Rubros{% endblock %}

{% block body %}
    <h1>Lista de Rubros</h1>
    <a class="btn btn-primary btn-sm" href="{{ path('rubro_new') }}">Agregar nuevo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Sector Productivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for rubro in rubros %}
            <tr>
                <td>{{ rubro.tipo }}</td>
                <td>{{rubro.sector}} </td>
                <td>
                    <a class="badge badge-primary" href="{{ path('rubro_show', {'id': rubro.id}) }}">Ver</a>
                    <a class="badge badge-primary" href="{{ path('rubro_edit', {'id': rubro.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Rubros no registrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
