{% extends 'base.html.twig' %}

{% block title %}Ambito index{% endblock %}

{% block body %}
    <h1>Ambito index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipoambito</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ambito in ambitos %}
            <tr>
                <td>{{ ambito.id }}</td>
                <td>{{ ambito.tipoambito }}</td>
                <td>
                    <a href="{{ path('ambito_show', {'id': ambito.id}) }}">show</a>
                    <a href="{{ path('ambito_edit', {'id': ambito.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ambito_new') }}">Create new</a>
{% endblock %}
