{% extends 'base.html.twig' %}

{% block title %}Ámbito{% endblock %}

{% block body %}
    <h1>Ámbito: {{ambito.tipoambito}} </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Tipoambito</th>
                <td>{{ ambito.tipoambito }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary btn-sm" href="{{ path('ambito_index') }}">Volver a lista</a>

    <a class="btn btn-primary btn-sm" href="{{ path('ambito_edit', {'id': ambito.id}) }}">Editar</a>

    {{ include('ambito/_delete_form.html.twig') }}
{% endblock %}
