{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{absolute_url('/assets/openlayers/ol.css')}}" type="text/css">
    <link rel="stylesheet" href="{{absolute_url('/assets/leaflet/leaflet.css')}}"/>
    <script src="{{absolute_url('/assets/leaflet/leaflet.js')}}"></script>

    <style>
       #mapid {
        height: 400px;
        /* width: 90%; */
      }
      .leaflet-fade-anim .leaflet-container { will-change: transform !important; }
      .leaflet-zoom-animated{will-change: transform !important;}
    </style>
{% endblock %}
{% block body %}

 
{# ------------- #}
    {# <div class="container"> #}
        <h1>Emprendimientos de Tolhuin</h1>
        {# <h1>{{direccion}}</h1> #}
        <!-- Heading Row -->
        
        <div class="row">
        <div class="col-lg-2">
        Rubro:
        <select class="custom-select"name="rubro" id="rubros_filtro">
            <option selected value="Todos">Todos los rubros</option>
            {% for rubro in rubros|sort((a, b) => a.tipo <=> b.tipo) %}
                <option value="{{rubro.tipo}}">{{rubro.tipo}}</option>
            {% endfor %}
        </select>
        </div>
        <div class="col-lg-2">
        Sector Productivo:
        <select class="custom-select"name="rubro" id="sectores_filtro">
            <option selected>Todos</option>
            {% for sector in sectores %}
                <option value="{{sector.nombre}}">{{sector.nombre}}</option>
            {% endfor %}
        </select>
        </div>
        </div>
        <div class="row align-items-center my-5">

            <div class="col-lg-12">
                <div id="mapid"></div>
            </div>
            
        </div>
        <!-- /.row -->

{# ------------- #}
        <div class="row">
                {% if is_granted('ROLE_INVESTIGADOR') %}<a class="btn btn-primary btn-sm" href="{{ path('emprendimiento_new') }}">Nuevo emprendimiento</a>{% endif %}        
            <div class="col col-lg-2 col-sm-2">
                <a class="btn btn-secondary" target="_blank" href="{{ path('emprendimientos_descargar', {'formato':"pdf",'rubro': "Todos",'sector':"Todos"}) }}" id="boton_pdf">Descargar PDF</a>
            </div>
            <div class="col col-lg-2 col-sm-2">
                <a class="btn btn-secondary" target="_blank" href="{{ path('emprendimientos_descargar', {'formato':"xlsx",'rubro': "Todos",'sector':"Todos"}) }}" id="boton_xlsx">Descargar XLSX</a>
            </div>
            <div class="col col-lg-2 col-sm-2">
                <a class="btn btn-secondary" target="_blank" href="{{ path('emprendimientos_descargar', {'formato':"csv",'rubro': "Todos",'sector':"Todos"}) }}" id="boton_csv">Descargar CSV</a>
            </div>
        </div>

            <div class="row" id="emprendimientos_cards">
            </div>

    
    {% block javascripts %}
        
        <script type="text/javascript">
            var map = L.map('mapid').setView([-54.5094,-67.1976 ], 14);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

        </script>
        
        <script type="text/javascript">
            var emprendimientos
            var emprendimientosSeleccionados
            var rubros
            var marcadores=L.layerGroup().addTo(map)
            var rubroSeleccionado="Todos"
            var sectorSeleccionado="Todos"
            var link_pdf
            var link_xls
            var link_csv

            function actualizar_link(tipo_formato) {
                link='{{ path( "emprendimientos_descargar", {'formato':'tipo','rubro': 'rubro_nombre','sector':'sector_nombre'}) }}';
                link = link.replace("rubro_nombre",rubroSeleccionado);
                link = link.replace("sector_nombre",sectorSeleccionado);
                link = link.replace("tipo",tipo_formato)
                return link;
            }

            function cards(emprendimientos) {
                var card=``
                emprendimientos.forEach(emprendimiento => {
                    console.log(emprendimiento);
                    
                    fotos=emprendimiento.fotos
                    var url_card_foto='https://uomsanmartin.org.ar/site/wp-content/uploads/2016/01/1-600x400.jpg'
                    if (Array.isArray(fotos)&&fotos.length) {
                        url_card_foto='{{absolute_url('uploads/imagenes/')}}'+fotos[0].nombre_foto
                    }

                    var title="<b>"+emprendimiento.razon_social+"</b><br/>"
                    var direccion="<b>"+emprendimiento.direccion+"</b><br/>"
                    var customPopup="<br/><a href='emprendimiento/"+emprendimiento.id+"'>Ver</a>";
                    L.marker([emprendimiento.latitud,emprendimiento.longitud]).addTo(marcadores)
                        .bindPopup(title +direccion+ emprendimiento.descripcion + customPopup)
                    descripcion=emprendimiento.descripcion
                    if (descripcion.length>30) {
                        descripcion+=`...`
                    }
                    card+=`<div class='col-lg-3 col-md-6 col-sm-1'>
                            <div class='card' style='width: 18rem;'>
                                <img class='card-img-top' src='${url_card_foto}' alt='${emprendimiento.razon_social}' height="130">
                                <div class='card-body'>
                                    <h5 class='card-title'>${emprendimiento.razon_social}</h5>
                                    <p class='card-text'>${descripcion}</p>
                                    <a href='/emprendimiento/${emprendimiento.id}' class='btn btn-primary'>Ver</a>
                                </div>
                            </div>            
                        </div><br/><br/>` 
                    // $('div#emprendimientos_cards').append(card);
                });
                return card;
            }

            //cambiar la ip
            fetch('https://192.168.2.111:8000/api/emprendimientos')
                .then(function(response) {
                    return response.json();
                })
                .then(function(myJson) {
                    emprendimientos=myJson;
                    emprendimientosSeleccionados=emprendimientos;
                    var tarjetas=cards(emprendimientos);
                    $('div#emprendimientos_cards').append(tarjetas);
                                     
                    
                });
                //cambiar la ip

                $(document).ready(function() {
                    $("select#rubros_filtro").change(function() {
                        var seleccionado=$(this).children("option:selected").val();

                        //limpiar el mapa
                        $('div#emprendimientos_cards').empty();
                        marcadores.clearLayers();
                        if (seleccionado=="Todos") {
                            rubroSeleccionado=seleccionado

                            link_pdf=actualizar_link("pdf");
                            var a=document.getElementById('boton_pdf');
                            a.href=link_pdf;

                            link_xls=actualizar_link("xlsx");
                            var a=document.getElementById('boton_xlsx');
                            a.href=link_xls;

                            link_csv=actualizar_link("csv");
                            var a=document.getElementById('boton_csv');
                            a.href=link_csv;

                            if (sectorSeleccionado=='Todos') {
                                emprendimientosSeleccionados=emprendimientos;
                            }else{
                                emprendimientosSeleccionados=emprendimientos.filter(emprendimiento=>emprendimiento.sector==sectorSeleccionado);
                            }
                            var tarjetas=cards(emprendimientosSeleccionados);
                            $('div#emprendimientos_cards').append(tarjetas);
                        }else{
                            rubroSeleccionado=seleccionado

                            link_pdf=actualizar_link("pdf");
                            var a=document.getElementById('boton_pdf');
                            a.href=link_pdf;
                            
                            link_xls=actualizar_link("xlsx");
                            var a=document.getElementById('boton_xlsx');
                            a.href=link_xls;

                            link_csv=actualizar_link("csv");
                            var a=document.getElementById('boton_csv');
                            a.href=link_csv;

                            if (sectorSeleccionado=='Todos') {
                                emprendimientosSeleccionados=emprendimientos.filter(
                                    emprendimiento=>
                                        emprendimiento.rubro==rubroSeleccionado
                                );
                            }else{
                                emprendimientosSeleccionados=emprendimientos.filter(
                                    emprendimiento=>
                                        emprendimiento.sector==sectorSeleccionado&&emprendimiento.rubro==rubroSeleccionado
                                );
                            }
                            var tarjetas=cards(emprendimientosSeleccionados);
                            $('div#emprendimientos_cards').append(tarjetas);
                        }
                    });

                    $("select#sectores_filtro").change(function() {
                        var seleccionado=$(this).children("option:selected").val();

                        //limpiar el mapa
                        $('div#emprendimientos_cards').empty();
                        marcadores.clearLayers();
                        if (seleccionado=="Todos") {
                            sectorSeleccionado=seleccionado

                            link_pdf=actualizar_link("pdf");
                            var a=document.getElementById('boton_pdf');
                            a.href=link_pdf;

                            link_xls=actualizar_link("xlsx");
                            var a=document.getElementById('boton_xlsx');
                            a.href=link_xls;

                            link_csv=actualizar_link("csv");
                            var a=document.getElementById('boton_csv');
                            a.href=link_csv;

                            if (rubroSeleccionado=='Todos') {
                                emprendimientosSeleccionados=emprendimientos;
                            }else{
                                emprendimientosSeleccionados=emprendimientos.filter(emprendimiento=>emprendimiento.rubro==rubroSeleccionado);
                            }
                            var tarjetas=cards(emprendimientosSeleccionados);
                            $('div#emprendimientos_cards').append(tarjetas);
                        }else{
                            sectorSeleccionado=seleccionado

                            link_pdf=actualizar_link("pdf");
                            var a=document.getElementById('boton_pdf');
                            a.href=link_pdf;
                            
                            link_xls=actualizar_link("xlsx");
                            var a=document.getElementById('boton_xlsx');
                            a.href=link_xls;

                            link_csv=actualizar_link("csv");
                            var a=document.getElementById('boton_csv');
                            a.href=link_csv;

                            if (rubroSeleccionado=='Todos') {
                                emprendimientosSeleccionados=emprendimientos.filter(
                                    emprendimiento=>
                                        emprendimiento.sector==sectorSeleccionado
                                );
                            }else{
                                emprendimientosSeleccionados=emprendimientos.filter(
                                    emprendimiento=>
                                        emprendimiento.sector==sectorSeleccionado&&emprendimiento.rubro==rubroSeleccionado
                                );
                            }
                            var tarjetas=cards(emprendimientosSeleccionados);
                            $('div#emprendimientos_cards').append(tarjetas);
                        }                        
                    })
                });
        </script>
    {% endblock %}
{% endblock %}