{% extends 'base.html.twig' %}

{% block title %}Usuario {{usuario.username}}{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nombre de usuario</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for rol in usuario.roles %}
                        [{{rol}}]
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>    

    <a class="btn btn-primary btn-sm" href="{{ path('usuarios_lista') }}">Volver a la lista de usuarios</a>

    {% if is_granted('ROLE_MUNICIPIO') %}   
        <a class="btn btn-primary btn-sm" href="{{ path('usuario_edit', {'id': usuario.id}) }}">Editar</a>

        <form method="post" action="{{ path('usuario_delete', {'id': usuario.id}) }}" onsubmit="return confirm('Seguro que desea eliminar?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.id) }}">
            <button class="btn btn-danger btn-sm">Eliminar</button>
        </form>

    {% endif %}
    
    {# <a class="btn btn-primary" href="{{ path('usuario_edit_personal') }}">editar</a> #}

{% endblock %}